.meeting {
  background: #333333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetingContainer {
  display: flex;
  flex-direction: row;
}

.usersContainer {
  width: 75vw;
  height: 85vh;
  background: #1d1d1d;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.controllerContainer {
  width: 100%;
  height: inherit;
  margin-top: 0.5rem;
  background: #1d1d1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controler {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
